[data-toggle="collapse"] {
  cursor: pointer;
}

.reference h5:hover {
  text-decoration: underline;
}

[data-toggle="collapse"] .fas:before {
  content: "\f146";
}

[data-toggle="collapse"].collapsed .fas:before {
  content: "\f0fe";
}
